## Program to print a pythagoras triplet

In [2]:
l = int(input())

count = 0
for a in range(l+1):
    for b in range(a,l+1):
        for c in range(b,l+1):
            if a<b<c:
                side_square_sum = a*a + b*b
                third_square_sum = c*c
                if side_square_sum == third_square_sum:
                    count = count + 1
print(count)

5
1

In [3]:
l = int(input())

count = 0
for a in range(l+1):
    for b in range(a,l+1):
        for c in range(b,l+1):
            if a<b<c:
                side_square_sum = a*a + b*b
                third_square_sum = c*c
                if side_square_sum == third_square_sum:
                    count = count + 1
print(count)

20
6

## Program to find integers which are npt divisible by any of [2,3,4,5,6,7,8,9,10]

In [24]:
n = int(input())
l = [2,3,4,5,6,7,8,9,10]
s = 0

for i in range(n+1):
    count = 0
    for j in l:
        if i%j !=0:
            count= count + 1
    if count == 9:
        s = s + 1
print(s)

11
2

In [22]:
n = int(input())
l = [2,3,4,5,6,7,8,9,10]
s = 0

for i in range(n+1):
    count = 0
    for j in l:
        if i%j !=0:
            count= count + 1
    if count == 9:
        s = s + 1
print(s)

12
2

In [21]:
n = int(input())
l = [2,3,4,5,6,7,8,9,10]
s = 0

for i in range(n+1):
    count = 0
    for j in l:
        if i%j !=0:
            count= count + 1
    if count == 9:
        s = s + 1
print(s)

200
47

In [25]:
n = int(input())
l = [2,3,4,5,6,7,8,9,10]
s = 0

for i in range(n+1):
    count = 0
    for j in l:
        if i%j !=0:
            count= count + 1
    if count == 9:
        s = s + 1
print(s)

10
1

## Program to print a number pyramid of k rows

In [4]:
n = int(input())
k = int(input())

for i in range(1, k+1):
    for k in range(i):
        
        print(n, end=" " )
        n = n + 1
    print(" ")

10
5
10
11 12
13 14 15
16 17 18 19
20 21 22 23 24

In [5]:
n = int(input())
k = int(input())

for i in range(1, k+1):
    for k in range(i):
        
        print(n, end=" " )
        n = n + 1
    print(" ")

1
3
1
2 3
4 5 6

## program to print a number pyramid of k rows

In [12]:
n = int(input())
k = int(input())

sum = n 
for num in range(1, k+1):
    for k in range(num):
        sum = sum + 1
for num in range(1, k+2):
    for k in range(num):
        sum = sum -1
        print(sum, end=" ")
    print(" ")

10
5
24
23 22
21 20 19
18 17 16 15
14 13 12 11 10

In [13]:
n = int(input())
k = int(input())

sum = n 
for num in range(1, k+1):
    for k in range(num):
        sum = sum + 1
for num in range(1, k+2):
    for k in range(num):
        sum = sum -1
        print(sum, end=" ")
    print(" ")

1
3
6
5 4
3 2 1