## Program to print all the prime numbers from 1 to n

In [7]:
n = int(input())



for i in range(2, n+1):
    count = 0
    for j in range(2,i):
        if i%j == 0:
            count = count + 1
    if count==0:
        print(i)

10
2
3
5
7

In [8]:
n = int(input())

for i in range(2, n+1):
    count = 0
    for j in range(2,i):
        if i%j == 0:
            count = count + 1
    if count==0:
        print(i)

25
2
3
5
7
11
13
17
19
23

## Program to print prime numbers from m to n.

In [11]:
m = int(input())
n = int(input())

for i in range(m, n+1):
    count = 0
    for j in range(2, i):
        if i%j == 0:
            count = count + 1
    if count==0:
        print(i)

10
20
11
13
17
19

In [12]:
m = int(input())
n = int(input())

for i in range(m, n+1):
    count = 0
    for j in range(2, i):
        if i%j == 0:
            count = count + 1
    if count==0:
        print(i)

18
40
19
23
29
31
37

## program to print half pyramid pattern to the given n number of rows

In [13]:
n = int(input())

num_pyramid = ""
for i in range(1,n+1):
    num_pyramid = num_pyramid + str(i) + " "
    print(num_pyramid)

5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [14]:
n = int(input())

num_pyramid = ""
for i in range(1,n+1):
    num_pyramid = num_pyramid + str(i) + " "
    print(num_pyramid)

4
1
1 2
1 2 3
1 2 3 4

## Program to print the inverted half pyramid up to the given n numbers of rows (R)

In [ ]:
n = int(input())

In [15]:
a=int(input())
for num in range(1,a+1):
    factor=""
    for i in range(1,a-num+2):
        factor +=str(i)+" "
    print(factor)

5
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [16]:
rows = int(input("Enter the number of rows: "))  
  
# the outer loop is executing in reversed order  
for i in range(rows + 1, 0, -1):    
    for j in range(0, i - 1):  
        print("*", end=' ')  
    print(" ")

Enter the number of rows: 5
* * * * *
* * * *
* * *
* *
*

In [17]:
n = int(input())
for i in range(n + 1, 0, -1):
    print(i)

3
4
3
2
1

In [18]:
i = int(input())
for j in range(0, i - 1):  
        print("*", end=' ')

4
* * *

In [21]:
print("Hello", "how are you?", "where are you", sep="---")

Hello---how are you?---where are you

In [31]:
rows = int(input("Enter the number of rows: "))  
  
# the outer loop is executing in reversed order  
for i in range(rows + 1, 0, -1):    
    for j in range(1, i):  
        print(j, end=' ')  
    print(" ")

Enter the number of rows: 5
1 2 3 4 5 1 2 3 4 1 2 3 1 2 1

## program to print numbers in square pattern (R)

In [8]:
n = int(input())
n_square = n*n
list_n = ""
for i in range(1, n_square+1):
    list_n = list_n + str(i) + " " 
print(list_n)

3
1 2 3 4 5 6 7 8 9

In [9]:
n = int(input())

number = 1

for i in range(n):
    pattern = ''
    for j in range(n):
        pattern = pattern + (str(number)) + " "
        number = number + 1
    print(pattern)

3
1 2 3
4 5 6
7 8 9

In [10]:
n = int(input())

number = 1

for i in range(n):
    pattern = ''
    for j in range(n):
        pattern = pattern + (str(number)) + " "
        number = number + 1
    print(pattern)

6
1 2 3 4 5 6
7 8 9 10 11 12
13 14 15 16 17 18
19 20 21 22 23 24
25 26 27 28 29 30
31 32 33 34 35 36

## Program to print the numbers in m nuber of rows and n number of columns

In [14]:
m = int(input())
n = int(input())
number = 1
for i in range(m):
    pattern = ""
    for j in range(n):
        pattern = pattern + str(number) + " "
        number = number + 1
    print(pattern)

2
3
1 2 3
4 5 6

In [15]:
m = int(input())
n = int(input())
number = 1
for i in range(m):
    pattern = ""
    for j in range(n):
        pattern = pattern + str(number) + " "
        number = number + 1
    print(pattern)

7
5
1 2 3 4 5
6 7 8 9 10
11 12 13 14 15
16 17 18 19 20
21 22 23 24 25
26 27 28 29 30
31 32 33 34 35

## Half Pyramid shape with increasing numbers

In [26]:
m = int(input())

number = 1
for i in range(1, m+1):
    pattern = ""
    
    for j in range(i):
        pattern = pattern + str(number) + " "
        number = number + 1
    print(pattern)

5
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

## (identify mistake) Program to print inverted pyramid

In [38]:
n = int(input())


for i in range(n,0,-1):
    pattern = ""
    for j in range(1,i+1):
        pattern = str(j) + " " + pattern 
    print(pattern)

5
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [39]:
n = int(input())


for i in range(n,0,-1):
    pattern = ""
    for j in range(1,i+1):
        pattern = str(j) + " " + pattern 
    print(pattern)

4
4 3 2 1
3 2 1
2 1
1

In [41]:
n = int(input())

pattern = ""
for i in range(n,0,-1):
    #pattern = ""
    for j in range(1,i+1):
        pattern = str(j) + " " + pattern 
    print(pattern)

4
4 3 2 1
3 2 1 4 3 2 1
2 1 3 2 1 4 3 2 1
1 2 1 3 2 1 4 3 2 1

In [43]:
n = int(input())


for i in range(n,0,-1):
    #pattern = ""
    for j in range(1,i+1):
        print(i, end=" ")
    print(' ')

3
3 3 3
2 2
1