# nested loop

* for item in sequence A:
* ---- starts here block 1 ##
* ---- for item in sequence B:
* ######## starts here block 2##

In [2]:
for a in range(3):
    print("outer : " + str(a))
    for b in range(7,9):
        print("  inner : " + str(b))
print("End")

outer : 0
  inner : 7
  inner : 8
outer : 1
  inner : 7
  inner : 8
outer : 2
  inner : 7
  inner : 8
End

In [4]:
for a in range(2):
    print("outer : " + str(a))
    for b in range(7,12):
        print("  inner : " + str(b))
print("End")

outer : 0
  inner : 7
  inner : 8
  inner : 9
  inner : 10
  inner : 11
outer : 1
  inner : 7
  inner : 8
  inner : 9
  inner : 10
  inner : 11
End

In [7]:
n = int(input())

row_output = ""
row_output = row_output + str(1) + " "
row_output = row_output + str(2) + " "
row_output = row_output + str(3) + " "
row_output = row_output + str(4) + " "

3
0
0
1

In [8]:
n = int(input())

row_output = ""
for seq_num in range(1, 2):
    row_output = row_output + str(seq_num) + " "
print(row_output)

row_output = ""
for seq_num in range(1, 3):
    row_output = row_output + str(seq_num) + " "
print(row_output)

row_output = ""
for seq_num in range(1, 4):
    row_output = row_output + str(seq_num) + " "
print(row_output)

row_output = ""
for seq_num in range(1, 5):
    row_output = row_output + str(seq_num) + " "
print(row_output)

1
1
1 2
1 2 3
1 2 3 4

In [1]:
num = int(input())

for row_num in range(1, num + 1):
    row_output = ""
    for seq_num in range(1, row_num + 1):
        row_output = row_output + str(seq_num) + " "
    print(row_output)

3
1
1 2
1 2 3

In [2]:
num = int(input())

for row_num in range(1, num + 1):
    row_output = ""
    for seq_num in range(1, row_num + 1):
        row_output = row_output + str(seq_num) + " "
    print(row_output)

4
1
1 2
1 2 3
1 2 3 4

## identify the mistake

In [5]:
n = int(input())

for row_num in range(1, n+1):
    row_output = ""
    for num in range(1, row_num+1):
        row_output = str(num) + " " + row_output  
    print(row_output)

3
1
2 1
3 2 1

In [8]:
n = int(input())

for row_num in range(1, n+1):
    row_output = ""
    seq_num = row_num
    while seq_num > 0:
        row_output = row_output + str(seq_num)
        seq_num = seq_num - 1
print(row_output)

3
321

In [10]:
n = int(input())

for row_num in range(1, n+1):
    row_output = ""
    seq_num = row_num
    while seq_num > 0:
        row_output = row_output + str(seq_num)
        seq_num = seq_num - 1
    print(row_output)

3
1
21
321

In [13]:
result = 1
for i in range(5,7):
    print("Top : " + str(i))
    for j in range(5,7):
        print("Bottom : " + str(j))
        if i%j !=0:
            result = result + 1
print(result)

Top : 5
Bottom : 5
Bottom : 6
Top : 6
Bottom : 5
Bottom : 6
3

In [17]:
count = 0

for i in range(5, 6):
    print("Top : " + str(i))
    for j in range(5,5):
        print("Bottom : " + str(j))
        count = count + (i+j)
print(count)

Top : 5
0

In [19]:
for j in range(5,5):
        print("Bottom : " + str(j))

In [22]:
result = 10

for i in range(3):
    print("Top : " + str(i))
    for j in range(i):
        print("Bottom : " + str(j))
        result = result - 2
        print(result)

Top : 0
Top : 1
Bottom : 0
8
Top : 2
Bottom : 0
6
Bottom : 1
4

In [23]:
count1 = 0
count2 = 14

for i in range(4,6):
    for j in range(i):
        count1 = count1+1
    count2 = count2 - 1
    
print("count2: " + str(count2))
print("count1: " + str(count1))

count2: 12
count1: 9

In [26]:
result = 1

for i in range(7,9):
    print(i)
    for j in range(7,8):
        print(j)
        result = result + (i+j)
    print(result)

7
7
15
8
7
30

In [31]:
i = 11

while (i<12):
    j = 5
    while (j>1):
        print(i)
        j = j - 1
    i = i + 1

11
11
11
11

In [32]:
for i in range(4,5):
    for j in range(3,5):
        print(str(i) + " x " + str(j) + " = " + str(i*j))

4 x 3 = 12
4 x 4 = 16

In [34]:
for i in range(0):
    for j in range(1):
        print(j)
    print(i)

In [35]:
for i in range(2,3):
    for j in range(3,5):
        print(i)
        
k = 2
while k<3:
    l = 3
    while l<5:
        print(k)
        l = l + 1
    k = k + 1

2
2
2
2