## identify the mistake

In [3]:
list_a = input().split(",")
list_b = input().split(",")
len_of_list_a = len(list_a)
n = len_of_list_a - 1
for i in range(len_of_list_a):
    num_1 = list_a[i]
    num_2 = list_b[n]
    result = str(num_1) + " " + str(num_2)
    print(result)

1,2,3
4,5,6
1 6
2 6
3 6

In [4]:
list_a = input().split(",")
list_b = input().split(",")
len_of_list_a = len(list_a)
n = len_of_list_a - 1
for i in range(len_of_list_a):
    num_1 = list_a[i]
    num_2 = list_b[i]
    result = str(num_1) + " " + str(num_2)
    print(result)

1,2,3
4,5,6
1 4
2 5
3 6

In [5]:
list_a = input().split(",")
list_b = input().split(",")
len_of_list_a = len(list_a)
n = len_of_list_a - 1
for i in range(len_of_list_a):
    num_1 = list_a[i]
    num_2 = list_b[n]
    result = str(num_1) + " " + str(num_2)
    print(result)
    n = n-1

1,2,3
4,5,6
1 6
2 5
3 4

## program to print each word in a line
- the first line of input will contain space-separated words, denoting the elements of the list

In [7]:
list_a = input().split(" ")
for i in list_a:
    print(i)

Banana Apple Pomegranate Strawberry Grapes Orange
Banana
Apple
Pomegranate
Strawberry
Grapes
Orange

In [8]:
list_a = input().split(" ")
for i in list_a:
    print(i)

Cricket Hockey Badminton Tennis Basketball Golf Volley Boxing Kunfu
Cricket
Hockey
Badminton
Tennis
Basketball
Golf
Volley
Boxing
Kunfu

## program to print each word in reverse  line
- the first line of input will contain space-separated words, denoting the elements of the list

In [9]:
list_a = input().split(" ")
print(list_a[::-1])

Banana Apple Pomegranate Strawberry Grapes Orange
['Orange', 'Grapes', 'Strawberry', 'Pomegranate', 'Apple', 'Banana']

In [10]:
list_a = input().split(" ")
print(list_a[::-1])

Cricket Hockey Badminton Tennis Basketball Golf Volley Boxing Kunfu
['Kunfu', 'Boxing', 'Volley', 'Golf', 'Basketball', 'Tennis', 'Badminton', 'Hockey', 'Cricket']

## Program to print the sum of the numbers in the list
- the first line of input will contain space separated integers denoting the elements of the list

In [12]:
list_a = input().split(' ')
sum = 0
for i in list_a:
    sum = sum + int(i)
print(sum)

2 5 10 -15 3
5

In [13]:
list_a = input().split(' ')
sum = 0
for i in list_a:
    sum = sum + int(i)
print(sum)

-50 20 3 88 17 3 11 200 1800
2092

## Program to reverse the letters in words of the sentence
- input is a string

In [15]:
str_input = input().split(" ")
for i in str_input:
    print(i[::-1])

the cat is on the mat
eht
tac
si
no
eht
tam

In [17]:
str_input = input().split(" ")
new_str = ""
for i in str_input:
    new_str += i[::-1] + " "
print(new_str)

the cat is on the mat.
eht tac si no eht .tam

In [18]:
str_input = input().split(" ")
new_str = ""
for i in str_input:
    new_str += i[::-1] + " "
print(new_str)

Have a nice weekend
evaH a ecin dnekeew

## Program to iterate both lists simultaneously such that the first list should display the item in original order and the second list in reverse order
- the first line of input will contain comma separated integers
- the second line of input will contain comma separated integers

In [20]:
list_a = input().split(",")
list_b = input().split(",")
len_of_list_a = len(list_a)
n = len_of_list_a - 1
for i in range(len_of_list_a):
    num_1 = list_a[i]
    num_2 = list_b[n]
    result = str(num_1) + " " + str(num_2)
    print(result)
    n = n-1

1,2,3
4,5,6
1 6
2 5
3 4

In [21]:
list_a = input().split(",")
list_b = input().split(",")
len_of_list_a = len(list_a)
n = len_of_list_a - 1
for i in range(len_of_list_a):
    num_1 = list_a[i]
    num_2 = list_b[n]
    result = str(num_1) + " " + str(num_2)
    print(result)
    n = n-1

1,3,5,7,9
2,4,6,8,10
1 10
3 8
5 6
7 4
9 2