## Program to print a list with all different objects

In [1]:
list_a=["Raspberry", 180, 148, 123.64, False]
print(list_a)

['Raspberry', 180, 148, 123.64, False]

## program to add an integer to the existing list at the beginning once and at the ending once

In [4]:
num_list = [10, 20, 40, 100]

n = int(input())

first_concatenation = [n] + num_list
last_concatenation = num_list + [n]

print(first_concatenation)
print(last_concatenation)

20
[20, 10, 20, 40, 100]
[10, 20, 40, 100, 20]

In [5]:
num_list = [10, 20, 40, 100]

n = int(input())

first_concatenation = [n] + num_list
last_concatenation = num_list + [n]

print(first_concatenation)
print(last_concatenation)

34
[34, 10, 20, 40, 100]
[10, 20, 40, 100, 34]

## Program to convert the string into a list

In [4]:
n = input()
list_a = []
for i in n:
    list_a = list_a + [i]
print(list_a)

python
['p', 'y', 't', 'h', 'o', 'n']

In [5]:
n = input()
list_a = []
for i in n:
    list_a = list_a + [i]
print(list_a)

temperature
['t', 'e', 'm', 'p', 'e', 'r', 'a', 't', 'u', 'r', 'e']

In [6]:
n = input()
list_a = []
for i in n:
    list_a = list_a + [i]
print(list_a)

developer
['d', 'e', 'v', 'e', 'l', 'o', 'p', 'e', 'r']

## program to print the given element at the given index

In [8]:
color_list = ["Red", "Orange", "Yellow", "Pink", "Green", "Blue", "Purple", "Black", "White"]
# Write your code here
n=int(input())
print(color_list[n])

4
Green

In [9]:
color_list = ["Red", "Orange", "Yellow", "Pink", "Green", "Blue", "Purple", "Black", "White"]
# Write your code here
n=int(input())
print(color_list[n])

3
Pink

In [10]:
color_list = ["Red", "Orange", "Yellow", "Pink", "Green", "Blue", "Purple", "Black", "White"]
# Write your code here
n=int(input())
print(color_list[n])

2
Yellow

## program to input n to take n inputs and print the elements at the index

In [12]:
list_a = ["Python", "Java", "Ruby", "C", "C++", "Go", "R", "JavaScript", "Swift", "PHP", "Kotlin", "Perl"]
n = int(input())
for i in range(n):
    m = int(input())
    print(list_a[m])

4
6
R
3
C
2
Ruby
1
Java

In [13]:
list_a = ["Python", "Java", "Ruby", "C", "C++", "Go", "R", "JavaScript", "Swift", "PHP", "Kotlin", "Perl"]
n = int(input())
for i in range(n):
    m = int(input())
    print(list_a[m])

4
0
Python
2
Ruby
8
Swift
5
Go

In [14]:
list_a = ["Python", "Java", "Ruby", "C", "C++", "Go", "R", "JavaScript", "Swift", "PHP", "Kotlin", "Perl"]
n = int(input())
for i in range(n):
    m = int(input())
    print(list_a[m])

2
1
Java
4
C++

## Program to create a list with element m repeated n times m and n are given as inputs, print list repetetion

In [17]:
m = input()
n = int(input())
list_a = []
list_a = list_a + [m]
list_b = list_a*n
print(list_b)

5
4
['5', '5', '5', '5']

In [18]:
m = input()
n = int(input())
list_a = []
list_a = list_a + [m]
list_b = list_a*n
print(list_b)

-2
8
['-2', '-2', '-2', '-2', '-2', '-2', '-2', '-2']

## program to create a newlist with all the elements in the existing list that are greater than the given number

In [19]:
list_a = [1,2,3,4,5,6]
n = int(input())
list_b = []
for i in list_a:
    if i > n:
        list_b = list_b + [i]
print(list_b)

4
[5, 6]

In [22]:
list_a = [1, 6, 32, 93, 71, -20, 30, -90, 50]
n = int(input())
list_b = []
for i in list_a:
    if i > n:
        list_b = list_b + [i]
print(list_b)

45
[93, 71, 50]

In [23]:
list_a = [1, 6, 32, 93, 71, -20, 30, -90, 50]
n = int(input())
list_b = []
for i in list_a:
    if i > n:
        list_b = list_b + [i]
print(list_b)

50
[93, 71]

In [24]:
list_a = [1, 6, 32, 93, 71, -20, 30, -90, 50]
n = int(input())
list_b = []
for i in list_a:
    if i > n:
        list_b = list_b + [i]
print(list_b)

-45
[1, 6, 32, 93, 71, -20, 30, 50]

## Program to print list with given inputs

In [27]:
n = int(input())
list_of_input = []
for i in range(n):
    m = input()
    list_of_input = list_of_input + [m]
print(list_of_input)

5
tiger
cinema
5.5
93
hi
['tiger', 'cinema', '5.5', '93', 'hi']

In [28]:
n = int(input())
list_of_input = []
for i in range(n):
    m = input()
    list_of_input = list_of_input + [m]
print(list_of_input)

3
12
17
43.5
['12', '17', '43.5']

## Program to print the givrn n inputs in the reversr order.

In [30]:
n = int(input())
list_of_input = []
for i in range(n):
    m = input()
    list_of_input = [m] + list_of_input
print(list_of_input)

8
anjali
ravi
akhil
gopisu
lathac
mohanarnaga
ashok
gopal babai
['gopal babai', 'ashok', 'mohanarnaga', 'lathac', 'gopisu', 'akhil', 'ravi', 'anjali']

In [32]:
n = int(input())
list_of_input = []
for i in range(n):
    m = input()
    list_of_input = [m] + list_of_input
    print(list_of_input)

8
ankita
['ankita']
ramesh
['ramesh', 'ankita']
akhilesh
['akhilesh', 'ramesh', 'ankita']
gopisu
['gopisu', 'akhilesh', 'ramesh', 'ankita']
latha rj
['latha rj', 'gopisu', 'akhilesh', 'ramesh', 'ankita']
mohan
['mohan', 'latha rj', 'gopisu', 'akhilesh', 'ramesh', 'ankita']
ashok
['ashok', 'mohan', 'latha rj', 'gopisu', 'akhilesh', 'ramesh', 'ankita']
gopal babai
['gopal babai', 'ashok', 'mohan', 'latha rj', 'gopisu', 'akhilesh', 'ramesh', 'ankita']

In [33]:
n = int(input())
list_of_input = []
for i in range(n):
    m = input()
    list_of_input = list_of_input + [m]
for i in range(n):
    print(list_of_input[n-i-1])

8
boxing
archery
volleyball
golf
basketball
tennis
badminton
football
football
badminton
tennis
basketball
golf
volleyball
archery
boxing

## Program to take n inputs and concatenate into a list and then print only last 3 and first 3 inputs in a list

In [43]:
n = int(input())
list_of_input = []
for i in range(n):
    m = input()
    list_of_input = list_of_input + [m]
length_of_list_of_input = len(list_of_input)
list_new = []
print(length_of_list_of_input)
for i in range(3):
    list_new = list_new + [list_of_input[i]]
for j in range(length_of_list_of_input-1, length_of_list_of_input-4, -1):
    list_new = list_new + [list_of_input[j]]
print(list_new)

8
anjali
akbar
ravi
suresh
gopal
latha
mohan
ashok
8
['anjali', 'akbar', 'ravi', 'ashok', 'mohan', 'latha']