## nested list

In [2]:
list_a = [5, "six", [8,6], 8.3]
print(list_a[2])

[8, 6]

- accesing list inside a list

In [3]:
list_a = [5, "six", [8,6], 8.3]
print(list_a[2][1])

6

- accessing the list inside a list inside another list

In [4]:
list_a = [5, "six", [8,6, [1, 2]], 8.3]
print(list_a[2])

[8, 6, [1, 2]]

In [5]:
list_a = [5, "six", [8,6, [1, 2]], 8.3]
print(list_a[2][2])

[1, 2]

In [6]:
list_a = [5, "six", [8,6, [1, 2]], 8.3]
print(list_a[2][2][1])

2

- accessing a tuple inside a list

In [10]:
list_a = [5, (8, 7)]
print(list_a[1][0])

8

In [11]:
list_a = ['Five', 'Seven']
print(list_a[0][1])

i

## String Formatting

In [13]:
name = input()
age = int(input())
msg = "Hi " + name + ". You are " + str(age) + " years old."
print(msg)

ram
33
Hi ram. You are 33 years old.

In [14]:
name = input()
age = int(input())
msg = "Hi " + name + ". You are " + str(age) + " years old."
print(msg)

name = input()
age = int(input())
msg = "Hi " + name + ". You are " + str(age) + " years old."
print(msg)

ram
32
Hi ram. You are 32 years old.
harish
29
Hi harish. You are 29 years old.

## Add place holder {} where the string needs to be formatted

In [16]:
name = input()
age = int(input())
msg = "Hi  {}. You are  {} years old."
print(msg.format(name, age))

ram
33
Hi  ram. You are  33 years old.

In [17]:
name = input()
age = int(input())
msg = "Hi  {}. You are  {} years old. {}" # arguments input should be equal to number of place holder
print(msg.format(name, age))

ram
32

IndexError: Replacement index 2 out of range for positional args tuple

In [18]:
name = input()
age = int(input())
msg = "Hi  {0}. You are  {1} years old." # numbering place holders
print(msg.format(name, age))

ram
32
Hi  ram. You are  32 years old.

In [19]:
name = input()
age = int(input())
msg = "Hi  {1}. You are  {0} years old." # numbering place holders
print(msg.format(name, age))

ram
32
Hi  32. You are  ram years old.

In [20]:
name = input()
age = int(input())
msg = "Hi  {name}. You are  {age} years old." # numbering place holders
print(msg.format(name=name, age=age))

harish
29
Hi  harish. You are  29 years old.

In [21]:
name = input()
age = int(input())
msg = "Hi  {name}. You are  {age} years old." # numbering place holders
print(msg.format(age=age, name=name ))

hari
29
Hi  hari. You are  29 years old.

# Program to print character Frequency
- ignore case(upper/lower) of the string

In [24]:
def print_char_count(line):
    line = line.lower()
    unique_char = set(line)
    unique_char.discard(' ')
    for char in sorted(unique_char):
        msg = "{char}: {count}"
        print(msg.format(char=char, count=line.count(char)))
        

line = input()
print_char_count(line)

Tic tac Toe
a: 1
c: 2
e: 1
i: 1
o: 1
t: 3

In [25]:
def print_char_count(line):
    line = line.lower()
    unique_char = set(line)
    unique_char.discard(' ')
    for char in sorted(unique_char):
        msg = "{char}: {count}"
        print(msg.format(char=char, count=line.count(char)))
        

line = input()
print_char_count(line)

Nested Lists and String Formatting
a: 2
d: 2
e: 2
f: 1
g: 2
i: 3
l: 1
m: 1
n: 4
o: 1
r: 2
s: 4
t: 5

# identify mistake

In [27]:
str_a = input()
str_b = input()
message = "{arg_1} is playing {arg_2}"
print(message.format(arg_2=str_a, arg_1=str_b))

Raju
cricket
cricket is playing Raju

In [28]:
str_a = input()
str_b = input()
message = "{arg_1} is playing {arg_2}"
print(message.format(arg_2=str_b, arg_1=str_a))

Raju
Cricket
Raju is playing Cricket