## Program to print the count of even and odd numbers in the range

In [2]:
m = int(input())
n = int(input())
even = 0
odd = 0
for i in range(m,n+1):
    if i%2 == 0:
        even = even + 1
    else:
        odd = odd + 1
print(" total even numbers are " + str(even ))
print("total odd numbers are " + str(odd))

2
11
 total even numbers are 5
total odd numbers are 5

In [3]:
m = int(input())
n = int(input())
even = 0
odd = 0
for i in range(m,n+1):
    if i%2 == 0:
        even = even + 1
    else:
        odd = odd + 1
print(" total even numbers are " + str(even ))
print("total odd numbers are " + str(odd))

-5
7
 total even numbers are 6
total odd numbers are 7

## program to print the count of vowels and consonants

In [5]:
n = input()
total_vowels = 0
total_consonants = 0
for i in n:
    if i == "a" or i == "e" or i == "i" or i == "o" or i == "u":
        total_vowels += 1
    elif i == " ":
        continue
    else:
        total_consonants +=1
print("total_vowels " + str(total_vowels))
print("total_consonants " + str(total_consonants))

good morning
total_vowels 4
total_consonants 7

In [6]:
n = input()
total_vowels = 0
total_consonants = 0
for i in n:
    if i == "a" or i == "e" or i == "i" or i == "o" or i == "u":
        total_vowels += 1
    elif i == " ":
        continue
    else:
        total_consonants +=1
print("total_vowels " + str(total_vowels))
print("total_consonants " + str(total_consonants))

hai hello adaab namaste
total_vowels 10
total_consonants 10

## Program to find minimum number of characters to be changed to make it same color either red or green

In [9]:
n = input()
n_isupper = n.isupper()
if n_isupper == True:
    green_count = 0
    red_count = 0
    for i in n:
        if i == "G":
            green_count += 1
        else:
            red_count += 1
if green_count<red_count :
    print ("number of char to make it RED is " + str(green_count))
else:
    print ("number of char to make it GREEN is " + str(red_count))

GGGGGR
number of char to make it GREEN is 1

In [11]:
n = input()
n_isupper = n.isupper()
if n_isupper == True:
    green_count = 0
    red_count = 0
    for i in n:
        if i == "G":
            green_count += 1
        else:
            red_count += 1
if green_count<red_count :
    print ("number of char to make it RED is " + str(green_count))
else:
    print ("number of char to make it GREEN is " + str(red_count))

RGG
number of char to make it GREEN is 1

In [12]:
n = input()
n_isupper = n.isupper()
if n_isupper == True:
    green_count = 0
    red_count = 0
    for i in n:
        if i == "G":
            green_count += 1
        else:
            red_count += 1
if green_count<red_count :
    print ("number of char to make it RED is " + str(green_count))
else:
    print ("number of char to make it GREEN is " + str(red_count))

GGGGGGGGGGGRRRRRGG
number of char to make it GREEN is 5

In [13]:
print(chr(65))

A

## Program to print the right alphabetic triangle up to the given n rows

In [5]:
n = int(input())

for i in range(1,n+1):
    for j in range (i):
        print(chr(65+j), end=" ")
    print(" ")

4
A
A B
A B C
A B C D

In [6]:
n = int(input())

for i in range(1,n+1):
    for j in range (i):
        print(chr(65+j), end=" ")
    print(" ")

6
A
A B
A B C
A B C D
A B C D E
A B C D E F

## Program to print numbers in half pyramid form

In [19]:
n = int(input())

for i in range(1,n+1):
    block_1 = ""
    block_2 = ""
    for j in range (1,i+1):
        block_1  += str(j)
    for k in range(1,j):     
        block_2 += str(k)
    print(block_1 + block_2[::-1])

4
1
121
12321
1234321

In [10]:
int(3/2)+1

2

In [25]:
a = "Gowtham"

print(a[::-1])    # all items in the array, reversed
print(" ")

print(a[1::])
print(a[1::-1])   # the first two items, reversed
print(" ")

print(a[:-3])
print(a[:-3:-1])  # the last two items, reversed
print(" ")

print(a[-3::])
print(a[-3::-1])  # everything except the last two items, reversed

mahtwoG

owtham
oG

Gowt
ma

ham
htwoG

In [26]:
n = int(input())

for i in range(1,n+1):
    block_1 = ""
    block_2 = ""
    for j in range (1,i+1):
        block_1  += str(j)
    for k in range(1,j):     
        block_2 += str(k)
    print(block_1 + block_2[::-1])

9
1
121
12321
1234321
123454321
12345654321
1234567654321
123456787654321
12345678987654321

## Camel case 
- camel case joins those words together, without any white space, and delineates the start of each new word with a capital letter.

The following are examples of variables that use the camel case naming convention:

- FileNotFoundException
- toString
- SpringBoot
- TomcatServer
- getJson

## snake case
- snake case uses an underscore between words to create separation. Variable names cannot contain spaces, which reduces readability when multiple words must be used to describe a variable's purpose. The underscore in a snake-cased variable tries to minimize this shortcoming.

Snake case examples
The following variable names follow the snake case naming convention:

- this_is_snake_case
- build_docker_image
- run_javascript_function
- call_python_method
- ruby_loves_snake_case

## Program to convert the given string from camel case to snake case

In [30]:
n = input()
length = len(n)
for i in range(length):
    upper = n[i].isupper()
    if i!=0 and upper == True:
        snake = n[:i] + "_" + n[i:]
        snake = snake.lower()
print(snake)

PythonLearning
python_learning

In [1]:
n = input()
length = len(n)
for i in range(length):
    upper = n[i].isupper()
    if i!=0 and upper == True:
        snake = n[:i] + "_" + n[i:]
        snake = snake.lower()
print(snake)

CamelCase
camel_case

In [2]:
n = input()
length = len(n)
for i in range(length):
    upper = n[i].isupper()
    if i!=0 and upper == True:
        snake = n[:i] + "_" + n[i:]
        snake = snake.lower()
print(snake)

DongariGowtham
dongari_gowtham

## Program to print sum of non prime given in the input list

In [7]:
n = int(input())

non_prime_sum = 0

for i in range(n):
    m = int(input()) 
    count = 0
    for j in range(1,m+1):
        if m%j == 0:
            count = count+1
    if count>2:
        non_prime_sum += m 
print(non_prime_sum)

5
8
11
96
49
25
178

In [8]:
n = int(input())

non_prime_sum = 0

for i in range(n):
    m = int(input()) 
    count = 0
    for j in range(1,m+1):
        if m%j == 0:
            count = count+1
    if count>2:
        non_prime_sum += m 
print(non_prime_sum)

2
4
2
4

## Program to print sandglass pattern using asterisk

In [15]:
n = int(input())

for i in range(n,0,-1):
    print(" "*(n-i) + "* "*i + " "*(n-i))
for j in range(2,n+1):
    print(" "*(n-j) + "* "*j + " "*(n-j))

4
* * * *
 * * *
  * *
   *
  * *
 * * *
* * * *

In [16]:
n = int(input())

for i in range(n,0,-1):
    print(" "*(n-i) + "* "*i + " "*(n-i))
for j in range(2,n+1):
    print(" "*(n-j) + "* "*j + " "*(n-j))

5
* * * * *
 * * * *
  * * *
   * *
    *
   * *
  * * *
 * * * *
* * * * *

In [17]:
n = int(input())

for i in range(n,0,-1):
    print(" "*(n-i) + "* "*i + " "*(n-i))
for j in range(2,n+1):
    print(" "*(n-j) + "* "*j + " "*(n-j))

3
* * *
 * *
  *
 * *
* * *