## None

In [2]:
var = None
print(var)
print(type(var))

None
<class 'NoneType'>

In [3]:
def increment(a):
    a +=1
    
a = int(input())
result = increment(a)
print(result)

## here return function is not written so nothing is returned or none is return value

5
None

In [4]:
def increment(a):
    a +=1
    return None

a = int(input())
result = increment(a)
print(result)

## here return function is written with explictly  none is return value

5
None

In [5]:
result = print("Hai")
print(result)

Hai
None

## Tuple
- Tuple is similar to list but it is inmutable we cannot change values in it

In [7]:
a = 2
tuple_a = (5, "Sixteen", v, 8.3)
print(type(tuple_a))

NameError: name 'v' is not defined

In [8]:
a = 2
tuple_a = (5, "Sixteen", "v", 8.3)
print(type(tuple_a))

<class 'tuple'>

In [9]:
a = ()
b = (5)
c = (1,2)

print(type(a))
print(type(b))
print(type(c))

<class 'tuple'>
<class 'int'>
<class 'tuple'>

In [10]:
a = ()
b = ("hai")
c = (1,2)

print(type(a))
print(type(b))
print(type(c))

<class 'tuple'>
<class 'str'>
<class 'tuple'>

In [11]:
a = ()
b = ("hai",)
c = (1,2)

print(type(a))
print(type(b))
print(type(c))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

## tuple with single item should be created carefully and should give a comma after the item

## accessing tuple item

In [14]:
a = 2
tuple_a = (2, "Hai", 5 , 7)
print(tuple_a)

(2, 'Hai', 5, 7)

In [15]:
a = 2
tuple_a = (2, "Hai", 5 , 7)
print(type(tuple_a))

<class 'tuple'>

In [17]:
a = 2
tuple_a = (2, "Hai", 5 , 7)
print(tuple_a)
print(tuple_a[:-1])
print(tuple_a[1:3])

print(tuple_a[::-1])

(2, 'Hai', 5, 7)
(2, 'Hai', 5)
('Hai', 5)
(7, 5, 'Hai', 2)

In [19]:
a = 2
tuple_a = (2, "Hai", 5 , 7)
for i in range(len(tuple_a)):
    print(tuple_a[i])

2
Hai
5
7

## converting to tuple

In [21]:
tuple_a = tuple(range(4))
print(tuple_a)

list_a = [1,2,3]
tuple_a = tuple(list_a)
print(tuple_a)

(0, 1, 2, 3)
(1, 2, 3)

## Membership check

In [23]:
tuple_a = (1,2,3,4)
is_part = 5 in tuple_a # in is used to check membership
print(is_part)

False

In [24]:
tuple_a = (1,2,3,4)
is_part = 2 in tuple_a # in is used to check membership
print(is_part)

True

In [25]:
tuple_a = (1,2,3,4)
is_part = 5 not in tuple_a # not in is used to check membership
print(is_part)

True

In [26]:
tuple_a = (1,2,3,4)
is_part = 3 not in tuple_a # not in is used to check membership
print(is_part)

False

In [27]:
word = "python"
is_part = "th" in word
print(is_part)

# string

True

In [28]:
list_a = [1, 2, 3, 4 ]
is_part = 1 in list_a
print(is_part)

True

# Packing and unpacking

- values of any sequence can be directly assigned to variable
- number of variables in left should match the length of sequence

In [31]:
tuple_a = ('r','e','d')
(s_1, s_2, s_3) = tuple_a

print(s_1)
print(s_2)
print(s_3)

r
e
d

In [33]:
list_a = [1,2,3,4]
s_1, s_2, s_3, s_4 = list_a

print(s_1)
print(s_2)
print(s_3)
print(s_4)

1
2
3
4

In [35]:
string = 'peek'
s_1, s_2, s_3, s_4 = string

print(s_1)
print(s_2)
print(s_3)
print(s_4)

p
e
e
k

In [36]:
string = 'peek'
s_1, s_2, s_3 = string

print(s_1)
print(s_2)
print(s_3)
print(s_4)

# left and right variables and values should be equal

ValueError: too many values to unpack (expected 3)

In [37]:
string = 'pee'
s_1, s_2, s_3, s_4 = string

print(s_1)
print(s_2)
print(s_3)
print(s_4)

ValueError: not enough values to unpack (expected 4, got 3)

## Tuple Packing

In [40]:
a = 1, 2, 3
print(type(a))
print(a)

<class 'tuple'>
(1, 2, 3)

In [41]:
a = 1,
print(type(a))
print(a)

# Packing

<class 'tuple'>
(1,)

In [42]:
a, = 1,
print(type(a))
print(a)

#Packing and unpacking

<class 'int'>
1

In [43]:
a, b, c = 1, 2, "hi"
print(a)
print(b)
print(c)

1
2
hi

In [44]:
def get_sum_and_product(a,b):
    num_sum = a + b
    num_product = a*b
    return num_sum, num_product

result = get_sum_and_product(2,3)
print(type(result))
print(result)

<class 'tuple'>
(5, 6)

In [45]:
def get_sum_and_product(a,b):
    num_sum = a + b
    num_product = a*b
    return num_sum, num_product

x, y = get_sum_and_product(2,3)
print(x)
print(y)

5
6

## identify mistake

In [48]:
str_a = input()
a = str_a.split(',')
i = 0
for item in a:
    a[i] = int(item)
    i += 1
print(tuple(a))

1,2,3,4
(1, 2, 3, 4)