## Program to replace the last number of each tuple in the list with the given number

In [2]:
def replace_last_element(n):
    list_a = [(10,20,30),(1,2),(5,10,15,20,25)]
    
    new_list = []
    for i in list_a:
        updated_tuple = i[:-1] + (n,)
        new_list.append(updated_tuple)
    print(new_list)
        
n = int(input())
replace_last_element(n)

50
[(10, 20, 50), (1, 50), (5, 10, 15, 20, 50)]

In [3]:
def replace_last_element(n):
    list_a = [(10,20,30),(1,2),(5,10,15,20,25)]
    
    new_list = []
    for i in list_a:
        updated_tuple = i[:-1] + (n,)
        new_list.append(updated_tuple)
    print(new_list)
        
n = int(input())
replace_last_element(n)

80
[(10, 20, 80), (1, 80), (5, 10, 15, 20, 80)]

## Program to remove duplicates in list and give a list in ascending order

In [11]:
n = input().split(' ')

list_a = []
for i in n:
    list_a.append(int(i))
list_a.sort() 
new_list = list(set(list_a))
print(new_list)  
# print(type(new_list))

5 10 15 20 10 30 15
[5, 10, 15, 20, 30]
<class 'list'>

In [ ]:
5 10 15 20 10 30 15

In [20]:
def remove_duplicates(k):
    n = k.split(' ')
    list_a = []
    for i in n:
        list_a.append(int(i))
    list_a.sort() 
    new_list = list(set(list_a))
    print(new_list) 

k = input()
remove_duplicates(k)

5 10 15 20 10 30 15
[5, 10, 15, 20, 30]

In [18]:
def remove_duplicates(k):
    n = k.split(' ')
    list_a = []
    for i in n:
        list_a.append(int(i))
    
    new_list = list(set(list_a))
    new_list.sort() 
    print(new_list) 

k = input()
remove_duplicates(k)

-18 10 20 20 50 40 -18 50 0 20
[-18, 0, 10, 20, 40, 50]

In [ ]:
-18 10 20 20 50 40 -18 50 0 20

In [3]:
def remove_duplicates(k):
    n = k.split(' ')
    list_a = []
    for i in n:
        list_a.append(int(i))
    new_list = []    
    for i in list_a:
        if i not in new_list:
            new_list.append(int(i))    
    new_list.sort() 
    print(new_list) 

k = input()
remove_duplicates(k)

-18 10 20 20 50 40 -18 50 0 20
[-18, 0, 10, 20, 40, 50]

## Program to remove a list of numbers if present in the set

In [1]:
n = input()
k = n.split(' ')
new_list = []
for i in k:
    num = int(i)
    new_list.append(num)

list_a = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
for i in new_list:
    #print(i)
    if i in list_a:
        #print(type(i))
        list_a.remove(i)
    
print(list_a)

10 90
[30, 50, 60, 70, 100]

In [3]:
def remove_multiple_items(n):
   
    k = n.split(' ')
    new_list = []
    for i in k:
        num = int(i)
        new_list.append(num)

    list_a = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
    for i in new_list:
        #print(i)
        if i in list_a:
            #print(type(i))
            list_a.remove(i)

    print(list_a)     
    
n = input()
remove_multiple_items(n)

20 40 80
[10, 30, 50, 60, 70, 90, 100]

In [4]:
def remove_multiple_items(n):
   
    k = n.split(' ')
    new_list = []
    for i in k:
        num = int(i)
        new_list.append(num)

    list_a = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
    for i in new_list:
        #print(i)
        if i in list_a:
            #print(type(i))
            list_a.remove(i)

    print(list_a)     
    
n = input()
remove_multiple_items(n)

10 90
[20, 30, 40, 50, 60, 70, 80, 100]

## Program to print common elements in two sets given as input separated by comma

In [8]:
def convert_string_to_int(num_list):
    new_list = []
    for i in num_list:
        num = int(i)
        new_list.append(num)   
    return new_list

def set_intersection_list(num_list_1, num_list_2):
    set_a = set(num_list_1)
    set_b = set(num_list_2)
    result = set_a & set_b # we can use set_a.intersection(set_b)
    result_list = list(result)
    result_list.sort()
    print(result_list)
    

list_a= input().split(',')
list_b = input().split(',')

list_a = convert_string_to_int(list_a)
list_b = convert_string_to_int(list_b)

set_intersection_list(list_a,list_b)

1,2,3,4,5,6
2,4,5,9,10
[2, 4, 5]

In [9]:
def convert_string_to_int(num_list):
    new_list = []
    for i in num_list:
        num = int(i)
        new_list.append(num)   
    return new_list

def set_intersection_list(num_list_1, num_list_2):
    set_a = set(num_list_1)
    set_b = set(num_list_2)
    result = set_a & set_b # we can use set_a.intersection(set_b)
    result_list = list(result)
    result_list.sort()
    print(result_list)
    

list_a= input().split(',')
list_b = input().split(',')

list_a = convert_string_to_int(list_a)
list_b = convert_string_to_int(list_b)

set_intersection_list(list_a,list_b)

20,5,-45,100,30
98,-45,20,5,35
[-45, 5, 20]

## Program to find first n multiples of 2 and 3, and output_1 is all multiples of 2 except intersection with 3 multiples and output_2 is all multiples except of 2 & 3 except the intersection

In [15]:
n = int(input())

list_2 = []
list_3 = []
for i in range(1,n+1):
    num_1 = 2*i
    list_2.append(num_1)
for i in range(1,n+1):
    num_2 = 3*i
    list_3.append(num_2)

print(list_2)
print(list_3)

set_a = set(list_2)
set_b = set(list_3)

common = set_a & set_b
result_1 = set_a - common
result_1 = list(result_1)
result_1.sort()
result_2 = set_a.symmetric_difference(set_b)
result_2 = list(result_2)
result_2.sort()
print(result_1)
print(result_2)

5
[2, 4, 6, 8, 10]
[3, 6, 9, 12, 15]
[2, 4, 8, 10]
[2, 3, 4, 8, 9, 10, 12, 15]

In [7]:
def multiples_of_2_and_3(n):
    list_2 = []
    list_3 = []
    
    for i in range(1,n+1):
        num_1 = 2*i
        list_2.append(num_1)
        
    for i in range(1,n+1):
        num_2 = 3*i
        list_3.append(num_2)
    return list_2, list_3

# print(list_2)
# print(list_3)

def symmetric_diff_and_uncommon_list(n):
    list_2, list_3 = multiples_of_2_and_3(n)
    set_a = set(list_2)
    set_b = set(list_3)
    
    common = set_a & set_b
    result_1 = set_a - common
    result_1 = list(result_1)
    result_1.sort()
    
    result_2 = set_a.symmetric_difference(set_b)
    result_2 = list(result_2)
    result_2.sort()
    return result_1, result_2

n = int(input())
symmetric_diff_and_uncommon_list(n)

5

([2, 4, 8, 10], [2, 3, 4, 8, 9, 10, 12, 15])

In [8]:
def multiples_of_2_and_3(n):
    list_2 = []
    list_3 = []
    
    for i in range(1,n+1):
        num_1 = 2*i
        list_2.append(num_1)
        
    for i in range(1,n+1):
        num_2 = 3*i
        list_3.append(num_2)
    return list_2, list_3

# print(list_2)
# print(list_3)

def symmetric_diff_and_uncommon_list(n):
    list_2, list_3 = multiples_of_2_and_3(n)
    set_a = set(list_2)
    set_b = set(list_3)
    
    common = set_a & set_b
    result_1 = set_a - common
    result_1 = list(result_1)
    result_1.sort()
    
    result_2 = set_a.symmetric_difference(set_b)
    result_2 = list(result_2)
    result_2.sort()
    return result_1, result_2

n = int(input())
symmetric_diff_and_uncommon_list(n)

10

([2, 4, 8, 10, 14, 16, 20],
 [2, 3, 4, 8, 9, 10, 14, 15, 16, 20, 21, 24, 27, 30])

## Program to convert a list to tuple

In [10]:
n = input().split(',')
list_a = []
for i in n:
    num = int(i)
    list_a.append(num)
list_a = tuple(list_a)
print(list_a)

1,2,3,4,5
(1, 2, 3, 4, 5)

In [13]:
def convert_list_to_tuple(n):
    n = n.split(',')
    list_a = []
    for i in n:
        num = int(i)
        list_a.append(num)
    list_a = tuple(list_a)
    return list_a

n = input()
convert_list_to_tuple(n)

5,10,20,30

(5, 10, 20, 30)

In [14]:
def convert_list_to_tuple(n):
    n = n.split(',')
    list_a = []
    for i in n:
        num = int(i)
        list_a.append(num)
    list_a = tuple(list_a)
    return list_a

n = input()
convert_list_to_tuple(n)

5,10,15,20,25,30

(5, 10, 15, 20, 25, 30)

In [15]:
def convert_list_to_tuple(n):
    n = n.split(',')
    list_a = []
    for i in n:
        num = int(i)
        list_a.append(num)
    list_a = tuple(list_a)
    return list_a

n = input()
convert_list_to_tuple(n)

-18,10,20,50,40

(-18, 10, 20, 50, 40)

## Program to update a set with the given input and give updated result

In [8]:
set_a = {"pencil"}

item = input()
set_a.update([item])
list_a = list(set_a)
list_a.sort()
print(list_a)

pen
['pen', 'pencil']

In [9]:
def update_set(item):
    set_a = {"pencil"}
    set_a.update([item])
    list_a = list(set_a)
    list_a.sort()
    print(list_a)
    
item = input()
update_set(item)

pen
['pen', 'pencil']

In [10]:
def update_set(item):
    set_a = {"pencil"}
    set_a.update([item])
    list_a = list(set_a)
    list_a.sort()
    print(list_a)
    
item = input()
update_set(item)

note pad
['note pad', 'pencil']