## Program to print multiplication table of the given numbers n upto 10 multiples in the format n*i=m

In [1]:
n = int(input())

for i in range(1,11):
    ans = n*i
    print(str(n) + " x " + str(i) + " = " + str(ans))

3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [4]:
n = int(input())

for i in range(1,11):
    ans = n*i
    print(str(n) + " x " + str(i) + " = " + str(ans))

10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

## Program to print reverse of the given string

In [10]:
n = input()


length = len(n)
for i in range(length):
    result = n[length-i-1]
    print(result)

hi sai
i
a
s

i
h

In [19]:
n=input()
sum=" "
for i in n:
    sum=i+sum
    print(sum)
    
#print(sum)

hi sai
h
ih
 ih
s ih
as ih
ias ih

In [20]:
n = input()

r = " "
length = len(n)
for i in range(length):
    result = n[length-i-1]
    print(result)
    r = r + result
print(r)

hi sai
i
a
s

i
h
 ias ih

## Program to find the greatest among the given n numbers

In [22]:
n = int(input())

first = int(input())

greatest = first

for i in range(n-1):
    num = int(input())
    if num>greatest:
        greatest = num
print(greatest)

5
8
11
96
49
25
96

In [23]:
n = int(input())

first = int(input())

greatest = first

for i in range(n-1):
    num = int(input())
    if num>greatest:
        greatest = num
print(greatest)

3
10
10
10
10

## Program to find the smallest among the given n numbers

In [24]:
n =int(input())

first = int(input())

smallest = first

for i in range(n-1):
    num = int(input())
    if num<smallest:
        smallest = num
        
print(smallest)

5
8
11
96
49
25
8

In [25]:
n =int(input())

first = int(input())

smallest = first

for i in range(n-1):
    num = int(input())
    if num<smallest:
        smallest = num
        
print(smallest)

4
9
9
9
9
9

In [26]:
n =int(input())

first = int(input())

smallest = first

for i in range(n-1):
    num = int(input())
    if num<smallest:
        smallest = num
        
print(smallest)

5
12
56
7
2
89
2

## Program to find sum of the series

In [28]:
n = int(input())
total = 0
termnum = '2'
for i in range(1,n+1):
    t = termnum*i
    total = total + int(t)
print(total)

3
246

In [29]:
n = int(input())
total = 0
termnum = '2'
for i in range(1,n+1):
    t = termnum*i
    total = total + int(t)
print(total)

8
24691356

## program to print factors of given number in put

In [30]:
n = int(input())

for i in range(1, n+1):
    if n%i==0:
        print(i)

6
1
2
3
6

In [31]:
n = int(input())

for i in range(1, n+1):
    if n%i==0:
        print(i)

18
1
2
3
6
9
18

## program to print sum of all factors of given number in put

In [32]:
n= int(input())

total = 0
for i in range(1, n+1):
    if n%i==0:
        total = total +i
print(total)

12
28

In [33]:
n= int(input())

total = 0
for i in range(1, n+1):
    if n%i==0:
        total = total +i
print(total)

15
24

In [34]:
n= int(input())

total = 0
for i in range(1, n+1):
    if n%i==0:
        total = total +i
print(total)

8
15

## Program to find a number is perfect or not
### condition: number factors sum is equal to number excluding itself then it is perfect

In [38]:
n= int(input())

total = 0
for i in range(1,n):
    if n%i==0:
        total = total+i
if total==n:
    print('pERFECT')
else:
    print('Not pERFECT')

6
pERFECT

In [42]:
n= int(input())

total = 0
for i in range(1,n):
    if n%i==0:
        total = total+i
if total==n:
    print('pERFECT')
else:
    print('Not pERFECT')

21
Not pERFECT

## Program to find if a number is an armstrong number or not.

In [6]:
n= int(input())

n = str(n)
length = len(n)

sum = 0
for i in n:
    sum = sum + (int(i))**length
if sum == int(n):
    print('Armstrong Number')
else:
    print('Not an armstrong number')

153
Armstrong Number

In [7]:
n= int(input())

n = str(n)
length = len(n)

sum = 0
for i in n:
    sum = sum + (int(i))**length
if sum == int(n):
    print('Armstrong Number')
else:
    print('Not an armstrong number')

24
Not an armstrong number

## Program to print a hollow square of n rows and n columns using asterisk where n is given as input

In [10]:
n = int(input())

for i in range(n):
    if i==0:
        print('* '*n)
    elif i == n-1:
        print('* '*n)
    else:
        print('* ' + '  '*(n-2) + '* ')

4
* * * *
*     *
*     *
* * * *

In [11]:
n = int(input())

for i in range(n):
    if i==0:
        print('* '*n)
    elif i == n-1:
        print('* '*n)
    else:
        print('* ' + '  '*(n-2) + '* ')

5
* * * * *
*       *
*       *
*       *
* * * * *