In [1]:
result = 10

for i in range(1,5):
    result = result-1
print(result)

6

In [2]:
for i in range(1,5):
    print(i)

1
2
3
4

In [4]:
phrase = "Buttery Popcorn" 
lengthofphrase = len(phrase)

for i in range(lengthofphrase):
    if phrase[i] == " ":
        print(phrase[:i])

Buttery

In [5]:
sentence = "It's a thriller movie"
character = "l"
count = 2

for eachchar in sentence:
    if eachchar == character:
        count = count + 1
print(count)

4

In [6]:
plant = "Aloe Vera"

for digit in str(plant):
    print(digit)

A
l
o
e

V
e
r
a

In [7]:
plant = "Aloe Vera"

for digit in plant:
    print(digit)

A
l
o
e

V
e
r
a

In [10]:
number = 15

for i in range(number):
    number = (number/1)
    
    
print(number)

15.0

In [12]:
number = 4

for i in range(15):
    number = (number/1)
    
 # operation n times iytundi kani em maradu it just repeats   
print(number)

4.0

In [14]:
number = 1
for i in range(1, number):
    print(i)

In [15]:
number = 2
for i in range(1, number):
    print(i)

1

## Program to print integers from 1 to the given number n

In [16]:
n = int(input())

for i in range(1, n+1):
    print(i)

4
1
2
3
4

## Program to print integers from m to n

In [17]:
m = int(input())
n = int(input())

for i in range(m,n):
    print(i)

-2
2
-2
-1
0
1

In [18]:
m = int(input())
n = int(input())

for i in range(m,n):
    print(i)

2
6
2
3
4
5

## Program to print a solid square pattern of n rows and n columns using asterisk character *

In [20]:
n = int(input())

for i in range(n):
    print("* "*n)

2
* *
* *

In [21]:
n = int(input())

for i in range(n):
    print("* "*n)

4
* * * *
* * * *
* * * *
* * * *

## Program to print a solid rectangle pattern of m rows and n columns using asterisk and use for loop

In [23]:
n = int(input())
m = int(input())

for i in range(n):
    print("* "*m)

2
3
* * *
* * *

In [24]:
n = int(input())
m = int(input())

for i in range(n):
    print("* "*m)

4
6
* * * * * *
* * * * * *
* * * * * *
* * * * * *

## Program to print the right angled traingular pattern of n lines using asterisk * use for loop

In [25]:
n = int(input())

for i in range(1, n+1):
    print('* '*i)

3
*
* *
* * *

In [26]:
n = int(input())

for i in range(1, n+1):
    print('* '*i)

4
*
* *
* * *
* * * *

## Program to print the sum of first n natural numbers. use for loop

In [27]:
n = int(input())

sum = 0
for i in range(n):
    sum = (sum+i)
print(sum) 

## n not included

6
15

In [28]:
n = int(input())

sum = 0
for i in range(n+1):
    sum = (sum+i)
print(sum)

6
21

In [29]:
n = int(input())

sum = 0
for i in range(n+1):
    sum = (sum+i)
print(sum)

3
6

## Program to read input and print them use for loop

In [31]:
n = int(input())

for i in range(n):
    a = int(input())
    print(a)

3
3
4
5
5

In [32]:
n = int(input())

a = []+a
for i in range(n):
    a = int(input())
    print(a)

2

TypeError: can only concatenate list (not "int") to list

## Program to read input and print sum of n inputs print them with use of for loop

In [33]:
n = int(input())

sum = 0
for i in range(n):
    a = int(input())
    sum = sum+a
print(sum)

3
8
11
25
44

In [34]:
n = int(input())

sum = 0
for i in range(n):
    a = int(input())
    sum = sum+a
print(sum)

2
7
20
27

## Program to print individual characters separated with hypens ("-")

In [37]:
n = input()
l = len(n)

for i in range(l):
    if i==l-1:
        print(n[i])
    else:    
        print(n[i] + "-")

python
p-
y-
t-
h-
o-
n

In [38]:
a = input()
len_of_a = len(a)
b = a[0]
for i in range(1,len_of_a):
    b = b + "-" + a[i]
print(b)

python
p-y-t-h-o-n