## Program to print integers from n to 1 (use for loop)

In [1]:
n = int(input())

for i in range(n):
    print(n-i)

4
4
3
2
1

In [2]:
n = int(input())

for i in range(n):
    print(n-i)

6
6
5
4
3
2
1

## Program to take input and accept n inputs print the product of the given integers

In [3]:
n = int(input())

sum = 1
for i in range(n):
    a = int(input())
    
    sum = (sum*a)
print(sum)

3
2
3
7
42

In [4]:
n = int(input())

sum = 1
for i in range(n):
    a = int(input())
    
    sum = (sum*a)
print(sum)

4
11
2
4
9
792

 ## write a program to print a rectangle of m rows and n columns using the plus character

In [5]:
m = int(input())
n = int(input())

for i in range(m):
    print("+ "*n)

3
5
+ + + + +
+ + + + +
+ + + + +

In [6]:
m = int(input())
n = int(input())

for i in range(m):
    print("+ "*n)

4
4
+ + + +
+ + + +
+ + + +
+ + + +

## program to print double traiangular pattern of n lines using asterisk*

In [7]:
n = int(input())

for i in range(n):
    print("* "*i)

4

*
* *
* * *

In [8]:
n = int(input())

for i in range(n+1):
    print("* "*i)

4

*
* *
* * *
* * * *

In [9]:
n = int(input())

for i in range(n+1):
    print("* "*i)
for i in range(n+1):
    print("* "*i)

4

*
* *
* * *
* * * *

*
* *
* * *
* * * *

In [10]:
n = int(input())

for i in range(n+1):
    print("* "*i)
for i in range(n+1):
    print("* "*i)

5

*
* *
* * *
* * * *
* * * * *

*
* *
* * *
* * * *
* * * * *