## Program to write a factorial of n (for loop)

In [4]:
n = int(input())

sum = 1
for i in range(n):
    a = n-i
    sum = (sum*a)
print(sum)

4
24

In [5]:
n = int(input())

sum = 1
for i in range(n):
    a = n-i
    sum = (sum*a)
print(sum)

7
5040

## Program to print sum of numbers from m to n

In [6]:
m = int(input())
n = int(input())

sum = 0
for i in range(m,n+1):
    sum = sum+i
print(sum)

2
6
20

In [7]:
m = int(input())
n = int(input())

sum = 0
for i in range(m,n+1):
    sum = sum+i
print(sum)

10
20
165

## Program to print sum of even numbers in the first n natural numbers

In [8]:
n = int(input())

sum = 0
for i in range(n+1):
    if i%2==0:
        sum = sum+i
print(sum)

6
12

In [9]:
n = int(input())

sum = 0
for i in range(n+1):
    if i%2==0:
        sum = sum+i
print(sum)

10
30

## Program to print sum of odd numbers in the first n natural numbers

In [10]:
n = int(input())

sum = 0
for i in range(n+1):
    if i%2==1:
        sum = sum+i
print(sum)

6
9

In [11]:
n = int(input())

sum = 0
for i in range(n+1):
    if i%2==1:
        sum = sum+i
print(sum)

10
25

## Program to print sum of even numbers in the from m to n numbers

In [12]:
m = int(input())
n = int(input())

sum = 0
for i in range(m,n+1):
    if i%2==0:
        sum = sum+i
print(sum)

2
6
12

In [13]:
m = int(input())
n = int(input())

sum = 0
for i in range(m,n+1):
    if i%2==0:
        sum = sum+i
print(sum)

10
20
90

## Program to print sum of odd numbers in the from m to n numbers

In [14]:
m = int(input())
n = int(input())

sum = 0
for i in range(m,n+1):
    if i%2==1:
        sum = sum+i
print(sum)

5
13
45

In [15]:
m = int(input())
n = int(input())

sum = 0
for i in range(m,n+1):
    if i%2==1:
        sum = sum+i
print(sum)

10
20
75

## Program to print sum of numbers divisible by the given number T from m to n

In [17]:
t = int(input())
m = int(input())
n = int(input())


sum = 0
for i in range(m,n+1):
    if i%t==0:
        sum=sum+i
print(sum)

2
5
9
14

In [19]:
t = int(input())
m = int(input())
n = int(input())


sum = 0
for i in range(m,n+1):
    if i%t==0:
        sum=sum+i
print(sum)

10
20
200
2090

## Program to print the sum of the squares of the first n natural numbers

In [21]:
n = int(input())

sum = 0
for i in range(n+1):
    sum = (sum + i*i)
print(sum)

6
91

In [22]:
n = int(input())

sum = 0
for i in range(n+1):
    sum = (sum + i*i)
print(sum)

3
14

## Program to print sum of cubes of first n natural numbers

In [23]:
n = int(input())

sum = 0
for i in range(n+1):
    sum = (sum + i*i*i)
print(sum)

3
36

In [24]:
n = int(input())

sum = 0
for i in range(n+1):
    sum = (sum + i*i*i)
print(sum)

6
441

## Program to write sum and avg of given ten numbers

In [2]:
n = int(input())

sum = 0
for i in range(n):
    a = int(input())
    sum = (sum+a)
print(sum)  
average = sum/10
print(average)

10
4
7
14
25
1
8
24
38
99
10
230
23.0

In [3]:
#n = int(input())

sum = 0
for i in range(10):
    a = int(input())
    sum = (sum+a)
print(sum)  
average = sum/10
print(average)

20
35
99
-84
-93
2
7
53
23
11
73
7.3