## find the mistake

In [2]:
n = int(input())

for i in range(1,n+1):
    row_out = " "*(n-i)
    row_out = row_out + "$"*n
    print(row_out)

3
  $$$
 $$$
$$$

## compound assignment

In [ ]:
a = a+1
can be written as a += 2

In [4]:
a = 10
a = a+2
print(a)
print("     ")

b = 10
b += 2
print(b)

12

12

In [5]:
a = 10
a = a-2
print(a)
print("     ")

b = 10
b -= 2
print(b)

8

8

In [6]:
a = 10
a = a*2
print(a)
print("     ")

b = 10
b *= 2
print(b)

20

20

In [7]:
a = 10
a = a/2
print(a)
print("     ")

b = 10
b /= 2
print(b)

5.0

5.0

In [8]:
a = 10
a = a%2
print(a)
print("     ")

b = 10
b %= 2
print(b)

0

0

## floor divison

In [11]:
print(3/2)
# decimal part we get a float as answer

1.5

In [12]:
print(3//2)
# we get only a integral part as answer

1

## Single and double quotes

In [14]:
sport = 'cricket'
print(type(sport))
print("   ")

game = "cricket"
print(type(game))

<class 'str'>

<class 'str'>

In [15]:
is_same = ('cricket' == "cricket")
print(is_same)

True

In [16]:
print("Hello")
print("world")

Hello
world

## escape characters

In [20]:
print("Hello \nworld")

Hello
world

* \n is an escape character which prints the string in next line

In [23]:
print("Hello\tworld")

Hello	world

In [25]:
print("Hello\\world")

Hello\world

## single quotes and double quotes

In [26]:
print("it's python")
print("  ")

print('it's python')

SyntaxError: invalid syntax (4246730388.py, line 4)

In [27]:
print("it's python")
print("  ")

print('it\'s python')
# escape character

it's python

it's python

## code along

# Given two strings print yes if the second string is a sub sequence of first string otherwise print no

* subsequence is formed by skipping some characters in first string without changing the order

In [30]:
full_string = input()
subsequence = input()

subsequence_index = 0 #red arrow
subsequence_length = len(subsequence)

for char in full_string: #blue arrow
    #checking if characters at blue arrow and red arrow are equal
    if char == subsequence[subsequence_index]:
        subsequence_index +=1 #red arrow moving a step further
        if subsequence_index == subsequence_length:
            break
if subsequence_index == subsequence_length:
    print("Yes")
else:
    print("No")

abcdef
ace
Yes