# Parsing date Time
- Program to convert the date given in the string format to a datetime object
- input is "8 Feb 2021"

In [3]:
from datetime import datetime

date_string = input()
date_obj = datetime.strptime(date_string, "%d %b %Y")
print(date_obj)

02 Jul 2021
2021-07-02 00:00:00

In [4]:
from datetime import datetime

date_string = "21 September, 1995"
print(date_string)

date_object = datetime.strptime(date_string, "%d %B, %Y")
print(date_object)

21 September, 1995
1995-09-21 00:00:00

In [5]:
from datetime import datetime

date_string = input()
date_obj = datetime.strptime(date_string, "%d %b %Y")
print(date_obj)

14 Oct 1999
1999-10-14 00:00:00

## Formating Datetime
- Program to convert the date in string format to another string format.
- input is "Jul 01 2014 02:43PM"
- expected output is "DD/MM/YYYY HH:MM:SS"

In [8]:
from datetime import datetime

date_string = input()
date_object = datetime.strptime(date_string, "%b %d %Y %I:%M%p")

res_format = datetime.strftime(date_object, "%d/%m/%Y %H:%M:%S")
print(res_format)

Jul 01 2014 02:43PM
01/07/2014 14:43:00

In [9]:
from datetime import datetime

date_string = input()
date_object = datetime.strptime(date_string, "%b %d %Y %I:%M%p")

res_format = datetime.strftime(date_object, "%d/%m/%Y %H:%M:%S")
print(res_format)

Feb 29 2000 02:43AM
29/02/2000 02:43:00

## Print Dates
- Program to print the previous day of D, the current day D, and the next day of D.
- The date in string format is like "8 Feb 2021

In [2]:
from datetime import datetime, timedelta

date = input()
date_str = "%d %b %Y"
today = datetime.strptime(date, date_str)

yesterday = today - timedelta(days = 1)
next_day = today + timedelta(days = 1)

print(yesterday)
print(today)
print(next_day)

26 Jan 2022
2022-01-25 00:00:00
2022-01-26 00:00:00
2022-01-27 00:00:00

In [3]:
from datetime import datetime, timedelta

date = input()
date_str = "%d %b %Y"
today = datetime.strptime(date, date_str)

yesterday = today - timedelta(days = 1)
next_day = today + timedelta(days = 1)

print(yesterday)
print(today)
print(next_day)

2 Jul 2000
2000-07-01 00:00:00
2000-07-02 00:00:00
2000-07-03 00:00:00

## Add years
- Program to add the years y to d1 and display the new date d2.

In [5]:
from datetime import datetime, timedelta

date_str = input()
n = int(input())

date_object = datetime.strptime(date_str, "%b %d %Y")

d_2 = date_object + timedelta(days= n*365)
print(d_2)

Jul 11 2014
5
2019-07-10 00:00:00

In [6]:
from datetime import datetime, timedelta

date_str = input()
n = int(input())

date_object = datetime.strptime(date_str, "%b %d %Y")

d_2 = date_object + timedelta(days= n*365)
print(d_2)

Jan 28 2022
2
2024-01-28 00:00:00

In [7]:
from datetime import datetime, timedelta

date_str = input()
n = int(input())

date_object = datetime.strptime(date_str, "%b %d %Y")

d_2 = date_object + timedelta(days= n*365)
print(d_2)

Jan 29 2022
-2
2020-01-30 00:00:00

## List of dates
- Program to print the list of dates between two dates D1 and D2 in the increasing order of the dates.
- the second line of input will be a string, denoting the d2 in the string format.

In [10]:
from datetime import datetime, timedelta

d1 = input()
d2 = input()

strt_dt = datetime.strptime(d1, "%b %d %Y")
end_dt = datetime.strptime(d2, "%b %d %Y")

number_of_days = (end_dt - strt_dt).days
for i in range(number_of_days + 1):
    print(strt_dt + timedelta(i))

Sep 12 2021
Sep 21 2021
2021-09-12 00:00:00
2021-09-13 00:00:00
2021-09-14 00:00:00
2021-09-15 00:00:00
2021-09-16 00:00:00
2021-09-17 00:00:00
2021-09-18 00:00:00
2021-09-19 00:00:00
2021-09-20 00:00:00
2021-09-21 00:00:00

In [11]:
from datetime import datetime, timedelta

d1 = input()
d2 = input()

strt_dt = datetime.strptime(d1, "%b %d %Y")
end_dt = datetime.strptime(d2, "%b %d %Y")

number_of_days = (end_dt - strt_dt).days
for i in range(number_of_days + 1):
    print(strt_dt + timedelta(i))

Feb 18 2014
Feb 24 2014
2014-02-18 00:00:00
2014-02-19 00:00:00
2014-02-20 00:00:00
2014-02-21 00:00:00
2014-02-22 00:00:00
2014-02-23 00:00:00
2014-02-24 00:00:00

## Name of the weekday
- Program to print the name of the weekday of a given date
- The date in string format is like "7 Feb 2022"

In [2]:
from datetime import datetime

date = input()
date_str = "%d %b %Y"
datetime_obj = datetime.strptime(date, date_str)
name_of_the_day = datetime_obj.strftime("%A")
print(name_of_the_day)

2 Jul 2002
Tuesday

In [3]:
from datetime import datetime

date = input()
date_str = "%d %b %Y"
datetime_obj = datetime.strptime(date, date_str)
name_of_the_day = datetime_obj.strftime("%A")
print(name_of_the_day)

21 Sep 1995
Thursday

In [4]:
from datetime import datetime

date = input()
date_str = "%d %b %Y"
datetime_obj = datetime.strptime(date, date_str)
name_of_the_day = datetime_obj.strftime("%A")
print(name_of_the_day)

31 Oct 1995
Tuesday

## Count of Mondays
- you are given two years A and B Program to count the number of Mondays M, which is the 1st day of the month from year A to year B including B

In [6]:
from datetime import datetime

year_a, yera_b = input().split()
mondays = 0
months = range(1, 13)
for year in range(int(year_a), int(yera_b)+1):
    for month in months:
        datetime_obj = datetime(year, month, 1)
        name_of_weekday = datetime.strftime(datetime_obj, "%A")
        if name_of_weekday == "Monday":
            mondays += 1 
print(mondays)

2015 2017
4

In [7]:
from datetime import datetime

year_a, yera_b = input().split()
mondays = 0
months = range(1, 13)
for year in range(int(year_a), int(yera_b)+1):
    for month in months:
        datetime_obj = datetime(year, month, 1)
        name_of_weekday = datetime.strftime(datetime_obj, "%A")
        if name_of_weekday == "Monday":
            mondays += 1 
print(mondays)

2020 2022
5

## Unix Timestamp
- Unix Timestamp is a way to track time as a running total of seconds
- This count starts at the unix Epoch on january 1st 1970, at UTC
- Therefore the unix timestamp is merely the number of seconds between a particular date and the unix Epoch
- unix stamp U is given
- Program to convert U to areadable date time and print it

In [9]:
import datetime

zero = datetime.datetime(1970, 1, 1)
seconds = datetime.timedelta(seconds = int(input()))
dt_format = "%Y-%m-%d %H:%M:%S"
result_time = zero + seconds
print(result_time.strftime(dt_format))

128425628
1974-01-26 09:47:08

In [10]:
import datetime

zero = datetime.datetime(1970, 1, 1)
seconds = datetime.timedelta(seconds = int(input()))
dt_format = "%Y-%m-%d %H:%M:%S"
result_time = zero + seconds
print(result_time.strftime(dt_format))

1284105683
2010-09-10 08:01:23

In [11]:
import datetime

zero = datetime.datetime(1970, 1, 1)
seconds = datetime.timedelta(seconds = int(input()))
dt_format = "%Y-%m-%d %H:%M:%S"
result_time = zero + seconds
print(result_time.strftime(dt_format))

91284105683
4862-09-05 00:01:23

## Exception
- divison of a and b

In [13]:
try:
    a, b = input().split()
    a = int(a)
    b = int(b)
    c = a/b 
    print(c)
except ZeroDivisionError:
    print("Denominator can't be 0")
except ValueError:
    print("Input should be an integer")

5 0
Denominator can't be 0

In [14]:
try:
    a, b = input().split()
    a = int(a)
    b = int(b)
    c = a/b 
    print(c)
except ZeroDivisionError:
    print("Denominator can't be 0")
except ValueError:
    print("Input should be an integer")

12 a
Input should be an integer

In [15]:
try:
    a, b = input().split()
    a = int(a)
    b = int(b)
    c = a/b 
    print(c)
except ZeroDivisionError:
    print("Denominator can't be 0")
except ValueError:
    print("Input should be an integer")

10 2
5.0

## Eception Item

In [18]:
# Item class should have the following attributes & methods
#
# Attributes:
#   name, price, category
#
# Methods:
#   get_detail: Print the details of the item in the format '{name}@{price}-{category}'
#
# If the value of price is less than 1, raise ValueError exception like
#   "ValueError: Invalid value for price, got {price}"


# Implement the Item class appropriately
class Item:
    def __init__(self, name, price, category):
        if price <= 0:
            raise ValueError("Invalid value for price, got {}".format(price))
        self.name = name
        self.price = price
        self.category = category

    def get_detail(self):
        return "{}@{}-{}".format(self.name, self.price, self.category)


# You need not change any code below.
# Do not call this function anywhere. It will automatically be called internally during tests.
def default_test():
    item = Item(name="Oreo Biscuits", price=30, category="Food")
    print(item.name)  # prints "Oreo Biscuits"
    print(item.price)  # prints '30'
    print(item.category)  # prints "Food"
    print(item.get_detail())  # prints "Oreo Biscuits@30-Food"

default_test()

Oreo Biscuits
30
Food
Oreo Biscuits@30-Food

In [ ]:
default_test()