## Date Time

In [4]:
import datetime

# Date Time Class
- Date class
- time class
- datetime class
- timedelta class

In [3]:
import datetime

date_object = datetime.date(2019,4,13)
print(date_object)

2019-04-13

In [5]:
from datetime import date

date_obj = date(2022,2,31) # no 31 in feb
print(date_obj)

ValueError: day is out of range for month

In [8]:
from datetime import date

date_object = date.today()
print(date_object)

2023-01-09

## Atributes of Date Object
- .year
- .month
- .day

In [10]:
from datetime import date

date_object = date(2019, 4, 13)
print(date_object.month)
print(date_object.day)
print(date_object.year)

4
13
2019

In [11]:
from datetime import time

time_object = time(11,54, 34)
print(time_object.hour)
print(time_object.minute)
print(time_object.second)

11
54
34

In [12]:
from datetime import datetime

datetime_object = datetime(2022,3,13,9,34,30)
print(datetime_object.year)
print(datetime_object.month)
print(datetime_object.day)
print(datetime_object.hour)
print(datetime_object.second)

2022
3
13
9
30

In [13]:
from datetime import datetime

datetime_object = datetime.now()
print(datetime_object.year)
print(datetime_object.month)
print(datetime_object.day)
print(datetime_object.hour)
print(datetime_object.second)

2023
1
9
13
15

In [14]:
from datetime import datetime

datetime_object = datetime(2017, 7, 12)
print(datetime_object.year)
print(datetime_object.month)
print(datetime_object.day)
print(datetime_object.hour)
print(datetime_object.second)

2017
7
12
0
0

## Formatting datetime

In [16]:
from datetime import datetime

datetime_object = datetime.now()

formatted_datetime_1 = datetime_object.strftime("*%d/%m/%Y, %H:%M:%S %p")
print(formatted_datetime_1)

formatted_datetime_2 = datetime_object.strftime("*%d %b %Y %I:%M:%S")
print(formatted_datetime_2)

*09/01/2023, 13:15:31 PM
*09 Jan 2023 01:15:31

## Parsing Datetime

In [20]:
from datetime import datetime

date_string = "21 September, 1995"
print(date_string)

date_object = datetime.strptime(date_string, "%d %B, %Y")
print(date_object)

21 September, 1995
1995-09-21 00:00:00

## Timedelta

In [22]:
from datetime import timedelta, datetime

delta = timedelta(days=365)
current_datetime = datetime.now()
print(current_datetime)

next_year_datetime = current_datetime + delta
print(next_year_datetime)

2023-01-09 13:23:12.448323
2024-01-09 13:23:12.448323

## Calculating time difference

In [24]:
from datetime import datetime

dt1 = datetime.now()
dt2 = datetime(2019, 4, 15)
duration = dt1-dt2
print(duration)

print(type(duration))

current_time = dt2 + duration
print(current_time)

1365 days, 13:27:14.894571
<class 'datetime.timedelta'>
2023-01-09 13:27:14.894571

In [25]:
from datetime import datetime

date_string = input()
date_object = datetime.strptime(date_string, "%d/%m/%Y")

year_end_datetime = datetime(year=date_object.year, month=12, day=31)

duration = year_end_datetime - date_object
print(duration)

01/03/2020
305 days, 0:00:00