In [1]:
message = "Hi Gowtham"
part = message[3:]
print(part)

Gowtham

In [3]:
message = "Hi Gowtham"
part = message[3:7]
print(part)
#slicing starts from 3rd character but it takes only upto 6th character 
#end element (7th letter) is not included

Gowt

In [4]:
message = "Hi Gowtham"
part = message[ :]
print(part)

Hi Gowtham

In [8]:
message = "Hi Gowtham"
startindex = 3
endindex = 7
part = message[startindex:endindex]
print(part)
#use underscore

Gowt

In [9]:
a = input()
b = input()
result = a + b
print(result)
#here inputs 2 & 3 is taken as string and not integer so answer is 23

2
3
23

In [10]:
print(type(10))
# data type is integer

<class 'int'>

In [11]:
print(type(21.7))
# data type is float

<class 'float'>

In [12]:
print(type("Kakarot"))
# data type is string

<class 'str'>

In [13]:
a = False
print(type(a))
# data type is boolean

<class 'bool'>

In [15]:
a = input()
b = input()
print(type(a))
print(type(b))

hi
10
<class 'str'>
<class 'str'>

In [16]:
a = "5"
print(type(a))
a = int(a)
print(type(a))
# data type changed from string to integer

<class 'str'>
<class 'int'>

In [17]:
a = "Five"
print(type(a))
a = int(a)
print(type(a))
# data type change is only for valid for value.

<class 'str'>

ValueError: invalid literal for int() with base 10: 'Five'

In [1]:
a = input()
a = int(a)
b = input()
b = int(b)
result = a + b
print(result)
#input is a string converted to int and then result print

2
5
7

In [2]:
a = input()
a = int(a)
b = input()
b = int(b)
result = a + b
print("Sum " + result)
#here we cannot concatenate int with string

2
5

TypeError: can only concatenate str (not "int") to str

In [3]:
a = input()
a = int(a)
b = input()
b = int(b)
result = a + b
print("Sum " + str(result))
#here we can concatenate string with string

2
5
Sum 7

In [4]:
cost = 123456
cost = cost[1:5]
print(cost)

TypeError: 'int' object is not subscriptable

In [6]:
c = "abcd"
c[1:1]

''

In [ ]:
#string slicing changes the original string