## Program to add key value pair to the dictionary

In [2]:
students_dict = {
    "Ram": "Cricket",
    "Naresh": "Football",
    "Vani": "Tennis",
    "Rahim": "Cricket"
}

key, value = input().split()

students_dict[key] = value

print(students_dict)

Preetham Badminton
{'Ram': 'Cricket', 'Naresh': 'Football', 'Vani': 'Tennis', 'Rahim': 'Cricket', 'Preetham': 'Badminton'}

In [3]:
students_dict = {
    "Ram": "Cricket",
    "Naresh": "Football",
    "Vani": "Tennis",
    "Rahim": "Cricket"
}

key, value = input().split()

students_dict[key] = value

print(students_dict)

Gowtham Boxing
{'Ram': 'Cricket', 'Naresh': 'Football', 'Vani': 'Tennis', 'Rahim': 'Cricket', 'Gowtham': 'Boxing'}

## Program to update value of the key

In [1]:
students_dict = {
    "Ram": "Cricket",
    "Naresh": "Football",
    "Vani": "Tennis",
    "Rahim": "Cricket"
}

key, value = input().split()

students_dict[key] = value

print(students_dict)

Rahim Hockey
{'Ram': 'Cricket', 'Naresh': 'Football', 'Vani': 'Tennis', 'Rahim': 'Hockey'}

In [2]:
students_dict = {
    "Ram": "Cricket",
    "Naresh": "Football",
    "Vani": "Tennis",
    "Rahim": "Cricket"
}

key, value = input().split()

students_dict[key] = value

print(students_dict)

Vani Badminton
{'Ram': 'Cricket', 'Naresh': 'Football', 'Vani': 'Badminton', 'Rahim': 'Cricket'}

## Program to remove a key value pair from given list

In [4]:
students_dict = {
    "Ram": "Cricket",
    "Naresh": "Football",
    "Vani": "Tennis",
    "Rahim": "Cricket"
}

key = input()

del students_dict[key]

print(students_dict)

Ram
{'Naresh': 'Football', 'Vani': 'Tennis', 'Rahim': 'Cricket'}

In [5]:
students_dict = {
    "Ram": "Cricket",
    "Naresh": "Football",
    "Vani": "Tennis",
    "Rahim": "Cricket"
}

key = input()

del students_dict[key]

print(students_dict)

Naresh
{'Ram': 'Cricket', 'Vani': 'Tennis', 'Rahim': 'Cricket'}

## Program to add a list of tuples to the dictionary as key value pairs

In [7]:
students_dict = {
    "Ram": "Cricket",
    "Naresh": "Football",
    "Vani": "Tennis",
    "Rahim": "Cricket"
}
n = int(input())
for i in range(n):
    
    key, value = input().split()
    students_dict[key] = value

print(students_dict)

3
Gopal Hockey
Jyothi Cricket
Akhil Football
{'Ram': 'Cricket', 'Naresh': 'Football', 'Vani': 'Tennis', 'Rahim': 'Cricket', 'Gopal': 'Hockey', 'Jyothi': 'Cricket', 'Akhil': 'Football'}

## Program to create a dictionary that contain numbers from 1 to n values are square of keys

In [9]:
n = int(input())
num_dict = {}
for i in range(1, n+1):
    num_dict[i] = i*i
print(num_dict)

5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [10]:
n = int(input())
num_dict = {}
for i in range(1, n+1):
    num_dict[i] = i*i
print(num_dict)

3
{1: 1, 2: 4, 3: 9}

## Program to delete the key value pairs given as input separated by space

In [13]:
alphabets = {
    'a': 97,
    'b': 98,
    'c': 99,
    'd': 100,
    'e': 101,
    'f': 102,
    'g': 103,
    'h': 104,
}

item = input().split(' ')
for each_item in item:
    del alphabets[each_item]
print(alphabets)

a d g
{'b': 98, 'c': 99, 'e': 101, 'f': 102, 'h': 104}

In [15]:
alphabets = {
    'a': 97,
    'b': 98,
    'c': 99,
    'd': 100,
    'e': 101,
    'f': 102,
    'g': 103,
    'h': 104,
}

item = input().split(' ')
for each_item in item:
    if each_item in alphabets:
        del alphabets[each_item]
print(alphabets)

a b f k
{'c': 99, 'd': 100, 'e': 101, 'g': 103, 'h': 104}

## Program to to take two inputs Ni and Di containing space separated elements now match each element in Ni as key to each item in Di as value

In [20]:
def add_key_value_pairs(Ni, Di):
    student_dict = {}
    for each_key in Ni:
        for each_value in Di:
            student_dict[each_key] = each_value
    student_dict_item = student_dict.items()        
    return sorted(student_dict_item) 

Ni = input().split(' ')
Di = input().split(' ')

add_key_value_pairs(Ni, Di)

Anand Ramesh Kiran
ID102 ID101 ID100

[('Anand', 'ID100'), ('Kiran', 'ID100'), ('Ramesh', 'ID100')]

In [23]:
def add_key_value_pairs(Ni, Di):
    student_dict = {}
    for each_key in Ni:
        for each_value in Di:
            student_dict[each_key] = each_value       
    return student_dict 

Ni = input().split(' ')
Di = input().split(' ')

student_dict = add_key_value_pairs(Ni, Di)
student_dict_item = sorted(student_dict.items())
for item in student_dict_item:
    print(*item)

Anand Ramesh Kiran
ID102 ID101 ID100
Anand ID100
Kiran ID100
Ramesh ID100