## Program to print substrings in the expected pattern of n rows, where n is the length of word

In [2]:
n = input()
length = len(n)

cloud = ""
for i in range(length):
    cloud = cloud + n[i]
    print(cloud)

rahul
r
ra
rah
rahu
rahul

## Program to print the string after shuffling the characters as per the order of the integers given

In [3]:
word = input()
length = len(word)

word_cloud = ""
for i in range(length):
    n = int(input())
    word_cloud = word_cloud + word[n]
print(word_cloud)

goindc
5
1
4
2
3
0
coding

In [4]:
word = input()
length = len(word)

word_cloud = ""
for i in range(length):
    n = int(input())
    word_cloud = word_cloud + word[n]
print(word_cloud)

eimag
1
2
3
4
0
image

## program to check if the given number is a prime number or not

In [9]:
n = int(input())

count = 0
for i in range(2, n):
    if n%i == 0:
        count = count + 1
if count == 0:
    result = "prime_number"
else:
    result =" Not a prime_number"
print(result)

4
 Not a prime_number

In [10]:
n = int(input())

count = 0
for i in range(2, n):
    if n%i == 0:
        count = count + 1
if count == 0:
    result = "prime_number"
else:
    result =" Not a prime_number"
print(result)

6
 Not a prime_number

## program to print a hollow rectangle pattern of m rows and n columns usinf the asterisk

In [2]:
m = int(input())
n = int(input())

for i in range(m):
    if i == 0:
        print("* "*n)
    elif i == m-1:
        print("* "*n)
    else:
        print(("* ") + "  "*(n-2) + ("* "))

4
3
* * *
*   *
*   *
* * *

In [3]:
m = int(input())
n = int(input())

for i in range(m):
    if i == 0:
        print("* "*n)
    elif i == m-1:
        print("* "*n)
    else:
        print(("* ") + "  "*(n-2) + ("* "))

4
6
* * * * * *
*         *
*         *
* * * * * *

In [4]:
m = int(input())
n = int(input())

for i in range(m):
    if i == 0:
        print("* "*n)
    elif i == m-1:
        print("* "*n)
    else:
        print(("* ") + "  "*(n-2) + ("* "))

8
5
* * * * *
*       *
*       *
*       *
*       *
*       *
*       *
* * * * *

## Program to print numbers from 1 to n in each row following a square pattern of n rows and n columns

In [7]:
n = int(input())

number_list = ""
for i in range(1, n+1):
    number_list = number_list + str(i) + " "
for i in range(1, n+1):
    print(number_list)

5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [10]:
n = int(input())

number_list = ""
for i in range(1, n+1):
    number_list = number_list + str(i) + " "
for i in range(1, n+1):
    print(number_list)

7
1 2 3 4 5 6 7
1 2 3 4 5 6 7
1 2 3 4 5 6 7
1 2 3 4 5 6 7
1 2 3 4 5 6 7
1 2 3 4 5 6 7
1 2 3 4 5 6 7

## program to print 1 to n in each column forming a square pattern

In [9]:
n = int(input())

for i in range(1, n+1):
    print((str(i) + " ")*n)

5
1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [11]:
n = int(input())

for i in range(1, n+1):
    print((str(i) + " ")*n)

4
1 1 1 1
2 2 2 2
3 3 3 3
4 4 4 4

## Program to print numbers from 1 to n in each row forming a rectangular pattern of m rows and b columns

In [13]:
m = int(input())
n = int(input())
n_list = ""
for i in range(1, n+1):
    n_list = n_list + str(i) + " "
for i in range(m):
    print(n_list)

2
3
1 2 3
1 2 3

In [14]:
m = int(input())
n = int(input())
n_list = ""
for i in range(1, n+1):
    n_list = n_list + str(i) + " "
for i in range(m):
    print(n_list)

5
4
1 2 3 4
1 2 3 4
1 2 3 4
1 2 3 4
1 2 3 4

In [15]:
m = int(input())
n = int(input())
n_list = ""
for i in range(1, n+1):
    n_list = n_list + str(i) + " "
for i in range(m):
    print(n_list)

6
7
1 2 3 4 5 6 7
1 2 3 4 5 6 7
1 2 3 4 5 6 7
1 2 3 4 5 6 7
1 2 3 4 5 6 7
1 2 3 4 5 6 7

## program to print 1 to n in each column forming a rectangle pattern

In [16]:
m = int(input())
n = int(input())

for i in range(1,m+1):
    print((str(i) + " ")*n)

2
3
1 1 1
2 2 2

In [17]:
m = int(input())
n = int(input())

for i in range(1,m+1):
    print((str(i) + " ")*n)

5
4
1 1 1 1
2 2 2 2
3 3 3 3
4 4 4 4
5 5 5 5

## solid diamond pattern of 2n-1 rows

In [25]:
n = int(input())

for i in range(1, 2*n):
    if i == 0:
        print("  "*(n-i-1) + "* " + "  "*(n-i-1))
    elif i == (2*n-2):
        print("  "*(n-1) + "* " + "  "*(n-1))
    else:
        print("  "*() + "* "* + "  "*)

3
      *
      *

In [30]:
n = int(input())

k = n
for i in range(1, n+1):
    space = " "*(k-1)
    star = "* "*i
    print(space + star)
    k = k - 1
k= n-1
for i in range(1,n):
    space = " "*i
    star = "* "*k
    print(space + star)
    k=k-1

5
    *
   * *
  * * *
 * * * *
* * * * *
 * * * *
  * * *
   * *
    *

In [31]:
n = int(input())

k = n
for i in range(1, n+1):
    space = " "*(k-1)
    star = "* "*i
    print(space + star)
    k = k - 1
k= n-1
for i in range(1,n):
    space = " "*i
    star = "* "*k
    print(space + star)
    k=k-1

4
   *
  * *
 * * *
* * * *
 * * *
  * *
   *

## triangle pattern

In [33]:
n = int(input())
k = n
for i in range(1, n+1):
    space = " "*(k-1)
    star = "* "*i
    print(space + star)
    k = k-1

3
  *
 * *
* * *

In [34]:
n = int(input())
k = n
for i in range(1, n+1):
    space = " "*(k-1)
    star = "* "*i
    print(space + star)
    k = k-1

5
    *
   * *
  * * *
 * * * *
* * * * *